// Import Google Fonts: Fira Sans
@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700,700i");

// Brand-Colors
$color-primary    : hsl(8, 57%, 53%);
$color-secondary  : hsl(31, 76%, 70%);
$color-text       : hsl(0, 0%, 27%);

// Update Bulma's variables
$family-sans-serif: "Fira Sans", sans-serif;
$primary          : $color-primary;
$link             : $color-secondary;
$text             : $color-text;